
<div ng-app="zakat">
	<div
	    ng-controller="zakatController"
	    class="zk-container"
	    ng-init="start()"
	>

@@include('../partials/top-banner.html', {
	"images_base": "https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img"
})
@@include('../partials/intro.html', {
	"images_base": "https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img"
})
@@include('../partials/loading.html')
@@include('../partials/stage-1.html')
@@include('../partials/stage-2.html')



	</div> <!-- End ng-controller -->
</div>