/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*General*/
.zk-container {
    background:#fff;
    font-family: 'Roboto', sans-serif;
}
.zk-container .btn{
    width:80%;
    padding: 12px 20px; 
    border-radius: 3px;
    font-size: 17px; 
    border:0;
    color:#fff;
}
.zk-container .btn-primary,
.zk-container .btn-primary:hover,
.zk-container .btn-primary:active,
.zk-container .btn-primary:focus,
.zk-container .btn-primary[disabled]:hover {background:#AC29B5; color:#fff;}
.hidden-until-nisab-loaded {display: none}

/* Resetting Bootstrap rules to make work within Umbraco template */
.container[role="main"] {
    max-width: none;
    width:auto;
    padding-left: 0;
    padding-right: 0;
}
#main-content>.container::before {content:"";}


/* Header */
.zk-banner {background:url(https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img/zk-banner-mob.png) bottom center no-repeat #00C995; color:#fff; min-height:328px; text-align: center;}

.zk-banner h1 { font-size:40px; margin-top:22px; font-weight: normal;}
.zk-banner p { font-size:18px; }
.zk-banner p .logo {height:17px;}
.zk-banner p .logo path {fill:green;}

.zk-intro {background:#F5F5F5; padding-top:40px; padding-bottom:40px; text-align:center; border-bottom: solid 1px #cccccc;}
.zk-intro h2 {font-size:18px; font-weight: 300; color:#262626; margin:0 auto 25px; color:#677081; }

.zk-illustration {
    text-align: center;
    margin:30px auto 50px;
}
.zk-illustration img {
    max-width:100%;
}
.zk-steps p {
    font-size: 18px;
    color: #262626;
    text-align: left;
    padding:8px 0 0 140px;
    min-height: 85px;
    margin-bottom:12px;
}
.zk-step-1 p {
    background: url(https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img/steps-mob-1.png) no-repeat 42px 0px;
}
.zk-step-2 p {
    background: url(https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img/steps-mob-2.png) no-repeat 42px 0px;
}
.zk-step-3 p {
    background: url(https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img/steps-mob-3.png) no-repeat 42px 0px;
}
.zk-cta-get-started {
    margin-top:42px;
}
.zk-cta-get-started a {
    background-color: #ac29b5;
    color:#FFF; 
}

.zk-cta-get-started a:hover,
.zk-cta-get-started a:focus {background:#ad29b6;}

.zk-find-out-more {margin-top:50px; font-size:16px;}

/* Main */
.zk-container { color:#6B7074; padding-bottom:80px;}
.zk-container .stage-heading {padding-bottom: 20px; padding-top: 20px; position: relative;}
.zk-container .zk-heading-border-indent {
    position: absolute;
    height:30px;
    width: 60px;
    top:-51px;
    overflow: hidden;
    left:4px;

}
.zk-container .zk-heading-border-indent .inner {
    position: relative;
    top:-50px;
    display: block;
    width: 65px;
    height: 65px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #f5f5f5;
    border: solid 1px #cccccc;
}
.zk-container .zk-heading-circle {text-align: center; width:44px; height: 44px; background:#AC29B5; color:#EBEBEB; border-radius: 50%; display: table;}
.zk-container .zk-heading-circle .inner {display: table-cell; vertical-align: middle; font-size:30px;}
.zk-container h3 {margin-top:8px; color:#262626;}

/* Loading */
.zk-loading {padding:200px; font-size:2em; text-align: center;}

/* Stage 1 */
.zk-stage-1 {padding:30px 0 0; }
.zk-nisab-thresholds {
    margin-top:2em;
    font-size:16px;
}
.zk-nisab-thresholds .zk-currency-symbol {
    font-size:28px;
}
.zk-nisab-thresholds h3 {font-size: 24px; color:#262626;}
.zk-nisab-thresholds dd {padding: 8px 0;}
.zk-nisab-threshold {
    font-size:24px; 
    color:#AC29B5;
}

.zk-stage-1 .form-group {margin:0 0 29px; font-size:16px;}
.zk-stage-1 .input-group-addon {background:#fff; border-right:0; font-size:1.3em; color:#9B9B9B; border-radius: 2px;}
.zk-stage-1 .form-control { font-size:16px; border-radius: 2px; box-shadow: none; height:58px;}
.zk-stage-1 input.form-control {
    border-left:0;
    font-size:16px;
    padding-top:10px;
    padding-bottom:10px;
}
.zk-stage-1 select.form-control {
    background:url(https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img/dropdown-caret.png) no-repeat 97% 27px;
    color:#AC29B5;
    border-left:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-appearance: none;
}

.zk-stage-1 #base-nisab {font-size:28px; color:#9b9b9b; border-left:0;}

.suggested-charities-stage-1 { background:#f5f5f5; border-top:1px solid #ccc; padding:24px 0;}
.suggested-charities-stage-1 h2 {font-size:24px; color:#262626; text-align: center; margin:32px 0;}
.suggested-charities-stage-1 p {font-size:18px; text-align: center; margin:12px 0 24px;}

/*.zk-nisab-thresholds {border-left:1px solid #677081; padding-left:80px; font-size: 18px;}*/
/*.zk-nisab-thresholds p {font-size: 24px;}*/
.zk-stage-1 .zk-calculation-override {margin-top:67px;}
.zk-calculation-override .input-group {margin-bottom:24px;}
.zk-calculation-override h3 {font-size: 23px; color: #262626; font-weight: normal; margin-bottom:31px;}
#net-assets {background-color:#fff;}

/* Stage 2 */
.zk-stage-2 {padding-top:30px;}
.zk-stage-2 .zk-stage-1-summary {
    border-bottom:1px solid #ccc;
}
.zk-stage-2 .stage-heading {margin-top:30px;}
.zk-container .zk-stage-2 .zk-stage-1-summary .zk-heading-circle {
    background: #ccc;
}
.zk-stage-2 .zk-stage-1-summary p {
    font-size: 18px;
    color:#AC29B5;
}
.zk-stage-2 .zk-stage-1-summary .zakat-due {
    display: block;
    font-size: 1.2em;
    color:#AC29B5;
}
.zk-stage-2 .zk-heading-border-indent .inner { background: #fff; }
.zk-suggested-charities {}

.zk-recalculate {text-align: center;}
.zk-recalculate .btn {border:1px solid #999999; color: #262626;}
.zk-suggested-charity {
    text-align: center;
    border:1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 24px;
}
.zk-suggested-charity .zk-inner {
    background: #fff;
    padding:32px 25px;
}
.zk-suggested-charity a.zk-charity-name {display: block;}
.zk-suggested-charity img {width:120px; height:120px;}
.zk-suggested-charity p {text-align: left; }
a.zk-charity-name {font-size:24px; color:#262626; padding:1em;}
.zk-suggested-charity p.zk-charity-desc {font-size:16px; color:#262626; min-height:140px;}
.zk-suggested-charity p.zk-charity-reg {font-size:14px; color:#737373; min-height:60px;}
.zk-suggested-charity a.zk-cta {background: #AC29B5; width:80%; color:#fff; margin-top:32px;}

.zk-charity-search-form h3 {
    font-size: 24px;
    color: #262626;
    margin:52px 0 37px;
    text-align: center;
}


.zk-charity-search-form .btn {
    width:auto;
    background: #1d67be;
}
.zk-charity-search-form .btn:hover,
.zk-charity-search-form .btn:focus {
    background: #1d67be;
    color:#fff;
}

.zk-charity-search-form input {
    height: 51px;
    font-size: 16px;
}

/*Search Results*/
.zk-charity-search-results .zk-charity-list {
    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #cccccc;
    border-top:0; border-bottom:0;
    background:#fff;
    margin-bottom:32px;

}

.zk-charity-search-results table td {
    vertical-align: middle;
    border-bottom: solid 1px #cccccc;
}

.zk-charity-search-results table td a {
    color:#262626;
    font-size: 24px;
}
.zk-charity-search-results .zk-charity-logo .zk-inner{
    float:left;
    height:93px;
    width:93px;
    margin:12px;
    text-align: center;
}
.zk-charity-search-results .zk-charity-logo img {
    max-width: 100%;
    max-height: 100%
}

.zk-charity-search-results .zk-charity-name {
    width:100%;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .zk-container .btn{ width:260px; font-size: 19px;}
    .zk-intro h2 {font-size:24px;}
    .zk-stage-1 .form-control {font-size:14px;}
    .zk-stage-1 input.form-control {font-size:14px;}
    .zk-nisab-threshold { font-size:36px; }
    .zk-stage-2 .zk-stage-1-summary p {font-size: 28px;}
    .zk-calculation-override h3 {font-size: 36px;}

}

@media (min-width: 992px) {
.zk-banner {height:356px; background-image:url(https://s3-eu-west-1.amazonaws.com/zakat-dev-justgiving-com/img/zk-banner-dt.png); }
.zk-banner h1 { font-size:60px; margin-top:130px;}
.zk-banner p { font-size:24px; }

}
@media only screen and (min-width: 768px) {
    .zk-steps p {font-size: 24px; background:none; padding:0; min-height: auto; text-align: center;}
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
