<!-- Zakat Intro -->
<div class="zk-intro">
    <div class="container">

        
        <div class="col-md-12">
            
            <h2>
                Quickly calculate your Zakat<br>and find an appropriate cause to give to.
            </h2>

        </div>


        <div class="col-md-12 hidden-xs">
            <div class="zk-illustration">
                <img src="@@images_base/steps-dt.svg" alt="Zakat Giving from Justgiving">
            </div>
        </div>

        <div class="row zk-steps">

            <!-- Step 1 -->
            <div class="col-sm-4 zk-step-1">
                <p>Calculate your correct amount</p>
            </div>

            <!-- Step 2 -->
            <div class="col-sm-4 zk-step-2">
                <p>Find an inspiring cause</p>
            </div>

            <!-- Step 3 -->
            <div class="col-sm-4 zk-step-3">
                <p>Donate securely to meet your responsibility</p>
            </div>

        </div>


        <!-- Call to action -->
        <div class="row zk-cta zk-cta-get-started">
            <a 
                class="btn btn-primary" 
                ng-click="getStarted()"
                ng-show="nisab"
            >Get Started</a>
        </div>

        <!-- Find out more -->
        <div class="row zk-find-out-more">
            <div class="col-md-12">
                <p ng-show="nisab">
                    Questions? 
                    <a 
                        target="_blank"
                        href="https://help.justgiving.com/hc/en-us/articles/207804259"
                    >
                        Find out more about Zakat on Justgiving
                    </a>
                </p>
            </div>
        </div>
    </div>
</div> <!-- End: Zakat Intro -->