<!-- Stage 2: Select Charity -->

<div 
    class="zk-stage-2 hidden-until-nisab-loaded"
    ng-show=" ui_stage == 'search' "
>

    
    <!-- Stage 1 Summary, shown at Stage 2 -->
    <div class="zk-stage-1-summary">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    <span class="zk-heading-circle"><div class="inner">1</div></span>
                </div>
                <div class="col-sm-6 col-xs-10">
                    <p>
                        Your Zakat value is:
                        <span class="zakat-due">
                            <span ng-bind-html="selectedCurrency.symbol"></span>{{formData.zakatDue | currency : ''}}
                        </span>
                    </p>
                </div>

                <div class="col-sm-5 col-xs-12 zk-recalculate">
                    <p>
                        <a 
                            ng-click="recalculate()"
                            class="btn btn-default"
                            >
                            Recalculate your Zakat
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Main part of Stage 2 -->
    <div class="container">
        <div class="row stage-heading">
            <div class="col-sm-1 col-xs-2">
                <span class="zk-heading-border-indent"><div class="inner"></div></span>
                <span class="zk-heading-circle"><div class="inner">2</div></span>
            </div>
            <div class="col-sm-11 col-xs-10">
                <h3>Select one of the suggested charities or search for a cause</h3>
            </div>
        </div>


        <!-- Suggested Charities -->
        <div class="row zk-suggested-charities">
            
            @@include('./suggested-charity-no-cta.html', {
                "charity_id": "186234",
                "charity_name": "Al-Khair Foundation",
                "charity_logo_url": "http://images.justgiving.com/image/73f65d35-ae01-4c12-a7da-fb30065c55ae.jpg",
                "charity_description": "Established in 2003, we actively work in the fields of education, community cohesion and international relief work.",
                "charity_reg_info": "Registered charity number: 1126808"
            })
            @@include('./suggested-charity-no-cta.html', {
                "charity_id": "224914",
                "charity_name": "HHUGS - Helping Households Under Great Stress",
                "charity_logo_url": "https://images.justgiving.com/image/21bfbb81-257e-40bc-b39f-6718a262c12c.jpg",
                "charity_description": "HHUGS provides practical support and advice to households devastated by the arrest of a family member under UK anti-terror legislation.",
                "charity_reg_info": "Registered charity number: 1117924"
            })
            @@include('./suggested-charity-no-cta.html', {
                "charity_id": "247680",
                "charity_name": "Hand In Hand For Syria",
                "charity_logo_url": "http://images.justgiving.com/image/16f77a6c-3a72-4c5d-b630-f50429c24315.jpg",
                "charity_description": "We have been at the forefront of humanitarian aid in Syria since the conflict began. We work inside Syria, so your gifts will go straight to the people in most desperate need.",
                "charity_reg_info": "Registered charity number: 1145862"
            })

        </div> <!-- End: Suggested Charities -->

        <!-- Search Form -->
        <div class="row zk-charity-search-form">
            
            <div class="col-md-8 col-md-offset-2">

                <h3>Search for your cause</h3>

                <div class="input-group">
                    <input 
                        class="form-control"
                        charity-search 
                        ng-model="charityQuery"
                        ng-change="searchCharities()"
                        type="text" 
                        placeholder="What would you like to give your Zakat to?"
                    >


                        <div class="input-group-btn">

                            <a 
                                class="btn btn-default" 
                                ng-click="searchCharities()"
                            >Search</a>
                        </div>
                    </div>

            </div>
        </div> <!-- End: Search Form -->

        <!-- Search Results -->
        <div class="row zk-charity-search-results">
            <div class="col-md-8 col-md-offset-2">

                <div class="zk-charity-list">

                    <table>
                        <tr ng-repeat=" charity in charitySearchResults ">

                            <td class="zk-charity-logo">
                                <div class="zk-inner">
                                    <a 
                                        ng-href="{{ charity.SDIurl }}" 
                                        role="button"
                                        >
                                        <img 
                                            ng-src="{{ charity.logoUrl }}?template=size100x100" 
                                            width="64"
                                        >
                                    </a>
                                </div>
                            </td>

                            <td class="zk-charity-name">
                                
                                <a 
                                    ng-href="{{ charity.SDIurl }}" 
                                    role="button"
                                    >
                                    {{ charity.name }}
                                </a>

                            </td>


                        </tr>


                    </table> <!-- End .zk-charity-list -->
                </div>
             </div>
        </div> <!-- End Container -->
     </div> <!-- End: Search Results -->

</div>