<div class="col-md-4">
    <div class="zk-suggested-charity">
        <div class="zk-inner">
            <div class="zk-logo">
                <img src="@@charity_logo_url?template=size200x200">
            </div>
            <h6 class="zk-charity-name">
                @@charity_name
            </h6>
            <p class="zk-charity-desc">
                @@charity_description
            </p>
            <p class="zk-charity-reg">
                @@charity_reg_info
            </p>
        </div>
    </div>
</div>