<div 
    class="col-md-4"
    >
    <div class="zk-suggested-charity">
        <div class="zk-inner">
            <img src="img/stock/charity-logo.jpg" class="zk-logo">
            <a class="zk-charity-name">
                @@name
            </a>
            <p class="zk-charity-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <p class="zk-charity-reg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </p>
            <a class="btn zk-cta" href="http://www.justgiving.com">Donate</a>
        </div>
    </div>
</div>